.splash-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.splash-screen img {
    width: 100px;
    height: 100px;
    margin-top: 50%;

    animation-name: FadeIn;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

.splash-screen .name {
    margin-top: 10%;
    font-weight: 400;
    font-size: 45px;

    animation-name: FadeIn;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

.splash-screen .welcomeText {
    margin-top: 10%;

    animation-name: FadeIn;
    animation-duration: 1s;
    transition-timing-function: ease-in;
}

