.home .footer {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: auto;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(143, 143, 143, 0.58);
    backdrop-filter: blur( 1.5px );
    border-radius: 4px;
    border: 1px solid rgba(208, 208, 208, 0.42);
}

.home .footer p {
    color: rgba(164, 164, 164, 0.71);
}